html, body {
  font-size: 16px;
  min-height: 100%;
}


h1 {
  font-size: 28px;
}

#header {
  text-align: center;
  background-color: #dfdfdf;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#header h1 {
  padding-top: 7px;
  padding-bottom: 10px;
}

#page {
  padding-top: 70px;
  min-height: 100%;
}




/* HAMBURGER */
.hamburger {
    display: inline-block;
    cursor: pointer;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.hamburger-change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.hamburger-change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.hamburger-change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
